:root {
    --uiWidth: 70%;
    --widthDecrease: 20vw; /* how much each inner rotary's width should decrease by. Determines "ring" size. Must be vw */
    --uiRaise: 2%;
}

body {
    overflow: hidden;
    text-align: center;
    color: white;
}

.rotary {
    --layer: 0;

    position: fixed;
    aspect-ratio: 1 / 1;
    border-radius: 50%;

    --width: calc( var(--uiWidth) - (var(--widthDecrease) * var(--layer)) );
    --extraSpace: calc( 100vw - var(--width) );
    width: var(--width);
    left: calc( var(--extraSpace) / 2 ); /* Like in .rotary, but use it's own width. */
    bottom: calc( (var(--widthDecrease) / 2) * var(--layer) + var(--uiRaise));
    
    /* aesthetics */
    background-color: black;    
}

.marker {
    position: absolute;
    border-radius: 25%;
    border-top-left-radius: 0;
    border-bottom-right-radius: 50%;

    border-left: 3px ridge white;
    border-top: 3px ridge white;

    background-color: rgb(200, 50, 50, 0.8);
    padding: 5px;
    box-shadow: 1px 1px 4px;
}